{% extends 'dashboard.html.twig' %}

{% block title %}Utilisateurs{% endblock %}
{% block montitre %}Liste de tous les utilisateurs


{% endblock %}


{% block body %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Les Utilisateurs</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">{{ message }}</div>
                                        {% endfor %}

                                        <table id="" class="table table-bordered table-hover">

                                            <a class="btn btn-success" href="{{ path('admin_creation') }}" >Ajouter</a>
                                            <thead>
                                            <tr>
                                                <th>image</th>
                                                <th>nom</th>
                                                <th>prenom</th>
                                                <th>E-mail</th>
                                                <th>userName</th>
                                                <th>Roles</th>
                                                <th>modifier supprimer</th>

                                            </tr>
                                            </thead>
                                            {%  for utils in util %}
                                                <tbody>
                                                <tr>
                                                    <td><img width="200" height="200" src="{{ asset('images/aliments/' ~ utils.image) }}"></td>
                                                    <td>{{ utils.nom }}</td>
                                                    <td>{{ utils.prenom }}</td>
                                                    <td>{{ utils.email }}  </td>
                                                    <td>{{ utils.username}}</td>
                                                    {% for item in utils.roles %}
                                                    <td>{{ item}}</td>
                                                    {% endfor %}




                                                    <td>
                                                        {% if app.user.username == utils.username %}
                                                        <a class="btn btn-info" >Loged As: ({{ utils.username }})</a>
                                                            <a class="btn btn-secondary " href="{{ path('admin_modification',{'id' : utils.id}) }}">modifier</a>
                                                            <a class="btn btn-info " href="{{ path('admin_modification_pwd',{'id' : utils.id}) }}">modifier pwd</a>

                                                        {% else %}
                                                        <a class="btn btn-secondary " href="{{ path('admin_modification',{'id' : utils.id}) }}">modifier</a>

                                                        <form method="POST" style="display:inline-block" action="{{path('admin_suppression',{'id': utils.id})}}" onsubmit="return confirm('Voulez vous supprimer ?')">
                                                            <input type="hidden" name="_method" value="delete">
                                                            <input type="hidden" name="_token" value="{{ csrf_token('SUP'~ utils.id) }}">
                                                            <input type="submit" class="btn btn-danger w-100" value="supprimer">
                                                        </form>
                                                            <a class="btn btn-info " href="{{ path('admin_modification_pwd',{'id' : utils.id}) }}">modifier pwd</a>
                                                            {% endif %}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            {% endfor %}

                                        </table>
                                        {{ knp_pagination_render(util) }}
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
            </div>
        </section>
    </div>

    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
{% endblock %}