{% extends 'base2.html.twig' %}

{% block title %}CategoryFreelance{% endblock %}

{% block body %}
    <h1>CategoryFreelance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_freelance.id }}</td>
            </tr>
            <tr>
                <th>Nom_cat_fr</th>
                <td>{{ category_freelance.nomCatFr }}</td>
            </tr>
            <tr>
                <th>Description_cat_fr</th>
                <td>{{ category_freelance.descriptionCatFr }}</td>
            </tr>
            <tr>
                <th>Nbr_offre_fr</th>
                <td>{{ category_freelance.nbrOffreFr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('category_freelance_index') }}">back to list</a>

    <a href="{{ path('category_freelance_edit', {'id': category_freelance.id}) }}">edit</a>

    {{ include('category_freelance/_delete_form.html.twig') }}
{% endblock %}
