{% extends 'base2.html.twig' %}

{% block title %}PostulerFreelance index{% endblock %}

{% block body %}
    <h1>PostulerFreelance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_postulation_fr</th>
                <th>Etat_postulation_fr</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for postuler_freelance in postuler_freelances %}
            <tr>
                <td>{{ postuler_freelance.id }}</td>
                <td>{{ postuler_freelance.datePostulationFr ? postuler_freelance.datePostulationFr|date('Y-m-d') : '' }}</td>
                <td>{{ postuler_freelance.etatPostulationFr }}</td>
                <td>
                    <a href="{{ path('postuler_freelance_show', {'id': postuler_freelance.id}) }}">show</a>
                    <a href="{{ path('postuler_freelance_edit', {'id': postuler_freelance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('postuler_freelance_new') }}">Create new</a>
{% endblock %}
