{% extends 'base2.html.twig' %}

{% block title %}PostulerFreelance{% endblock %}

{% block body %}
    <h1>PostulerFreelance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ postuler_freelance.id }}</td>
            </tr>
            <tr>
                <th>Date_postulation_fr</th>
                <td>{{ postuler_freelance.datePostulationFr ? postuler_freelance.datePostulationFr|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Etat_postulation_fr</th>
                <td>{{ postuler_freelance.etatPostulationFr }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('postuler_freelance_index') }}">back to list</a>

    <a href="{{ path('postuler_freelance_edit', {'id': postuler_freelance.id}) }}">edit</a>

    {{ include('postuler_freelance/_delete_form.html.twig') }}
{% endblock %}
