{% extends 'base2.html.twig' %}

{% block title %}CategorieQuestionnaire{% endblock %}

{% block body %}
    <h1>CategorieQuestionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie_questionnaire.id }}</td>
            </tr>
            <tr>
                <th>Nom_cat_qst</th>
                <td>{{ categorie_questionnaire.nomCatQst }}</td>
            </tr>
            <tr>
                <th>Description_cat_qst</th>
                <td>{{ categorie_questionnaire.descriptionCatQst }}</td>
            </tr>
            <tr>
                <th>Nbr_qst</th>
                <td>{{ categorie_questionnaire.nbrQst }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('categorie_questionnaire_index') }}">back to list</a>

    <a href="{{ path('categorie_questionnaire_edit', {'id': categorie_questionnaire.id}) }}">edit</a>

    {{ include('categorie_questionnaire/_delete_form.html.twig') }}
{% endblock %}
