{% extends 'base2.html.twig' %}

{% block title %}OffreFreelance index{% endblock %}

{% block body %}
    <h1>OffreFreelance index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre_offre_fr</th>
                <th>Descriptionfr</th>
                <th>Entreprisefr</th>
                <th>Recomponse</th>
                <th>Date_expiration</th>
                <th>Etat_offre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_freelance in offre_freelances %}
            <tr>
                <td>{{ offre_freelance.id }}</td>
                <td>{{ offre_freelance.titreOffreFr }}</td>
                <td>{{ offre_freelance.descriptionfr }}</td>
                <td>{{ offre_freelance.entreprisefr }}</td>
                <td>{{ offre_freelance.recomponse }}</td>
                <td>{{ offre_freelance.dateExpiration ? offre_freelance.dateExpiration|date('Y-m-d') : '' }}</td>
                <td>{{ offre_freelance.etatOffre ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('offre_freelance_show', {'id': offre_freelance.id}) }}">show</a>
                    <a href="{{ path('offre_freelance_edit', {'id': offre_freelance.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_freelance_new') }}">Create new</a>
{% endblock %}
