{% extends 'dashboard.html.twig' %}

{% block title %}categorie freelance {% endblock %}
{% block montitre %}Liste de tous les categories de freelance


{% endblock %}


{% block body %}

    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div><!-- /.col -->

            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">Les categorie freelance</h3>
                                    </div>
                                    <!-- /.card-header -->
                                    <div class="card-body">

                                        {% for message in app.flashes('success') %}
                                            <div class="alert alert-success">{{ message }}</div>
                                        {% endfor %}

                                        <table  class="table table-bordered table-hover">

                                            <a class="btn btn-success" href="{{ path('category_freelance_new') }}" >Ajouter</a><br><br>
                                            <input  name="q" type="text" id="search" size="30" maxlength="128" class="txt" placeholder="Type your answer here" >
                                            <thead>
                                            <tr>

                                                <th><i id="orderDESNom" class="">↓</i>Nom<i id="orderASCNom" class="">↑</i></th>
                                                <th><i id="orderDES" class="">↓</i>Description<i id="orderASC" class="">↑</i></th>

                                                <th>modifier supprimer</th>


                                            </tr>
                                            </thead>

                                            <tbody id="allTTT">
                                                {%  for categories in category_freelance %}
                                                <tr>
                                                    <td>{{ categories.nomcatfr }}</td>
                                                    <td>{{ categories.descriptioncatfr}}</td>





                                                    <td>
                                                        <a class="btn btn-secondary " href="{{ path('category_freelance_edit',{'id' : categories.id}) }}">modifier</a>
                                                        <a class="btn btn-danger" href="{{ path('category_freelance_delete',{'id' : categories.id}) }}">supprimer</a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            <tbody id="search11">
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>

                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
            </div>
        </section>
    </div>
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {
            $("#search").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte
                afin d’effectuer la recherche */
                var value = $(this).val();
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est
                « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est
                    envoyée */
                    url : "{{ path('demandeFreelance') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la
                    zone de recherche et sera placée après l’url */
                    data: {
                        'id' : value
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le
                    nouveau contenu*/
                    success : function(retour){
                        if(retour){

                            $("#search11").empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                $("#search11").append('<tr><td> '+obj.nomCatFr+' </td><td>'+obj.descriptionCatFr+'</td><td><a class="btn btn-secondary" href="'+obj.id+'/edit">modifer</a><a class="btn btn-danger" href="deletFFF/'+obj.id+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        { $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');

                        }
                    },
                });
                return false;
            });
        });
    </script>
    <script>
        $( document ).ready(function() {
            $("#orderDES").click(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('demandeFreelanceDES') }}",
                    type : 'GET',

                    data: {
                        'id' : value
                    },
                    success : function(retour){
                        if(retour){

                            $("#search11").empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                $("#search11").append('<tr><td> '+obj.nomCatFr+' </td><td>'+obj.descriptionCatFr+'</td><td><a class="btn btn-secondary" href="'+obj.id+'/edit">modifer</a><a class="btn btn-danger" href="deletFFF/'+obj.id+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        { $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');

                        }
                    },
                });
                return false;
            });
        });
    </script>
    <script>
        $( document ).ready(function() {
            $("#orderASC").click(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('demandeFreelanceASC') }}",
                    type : 'GET',

                    data: {
                        'id' : value
                    },
                    success : function(retour){
                        if(retour){

                            $("#search11").empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                $("#search11").append('<tr><td> '+obj.nomCatFr+' </td><td>'+obj.descriptionCatFr+'</td><td><a class="btn btn-secondary" href="'+obj.id+'/edit">modifer</a><a class="btn btn-danger" href="deletFFF/'+obj.id+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        { $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');

                        }
                    },
                });
                return false;
            });
        });
    </script>
    <script>
        $( document ).ready(function() {
            $("#orderDESNom").click(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('demandeFreelanceDESNom') }}",
                    type : 'GET',

                    data: {
                        'id' : value
                    },
                    success : function(retour){
                        if(retour){

                            $("#search11").empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                $("#search11").append('<tr><td> '+obj.nomCatFr+' </td><td>'+obj.descriptionCatFr+'</td><td><a class="btn btn-secondary" href="'+obj.id+'/edit">modifer</a><a class="btn btn-danger" href="deletFFF/'+obj.id+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        { $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');

                        }
                    },
                });
                return false;
            });
        });
    </script>
    <script>
        $( document ).ready(function() {
            $("#orderASCNom").click(function(e){
                var value = $(this).val();
                $.ajax({
                    url : "{{ path('demandeFreelanceASCNom') }}",
                    type : 'GET',

                    data: {
                        'id' : value
                    },
                    success : function(retour){
                        if(retour){

                            $("#search11").empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $("#allTTT").hide();
                                $("#search11").append('<tr><td> '+obj.nomCatFr+' </td><td>'+obj.descriptionCatFr+'</td><td><a class="btn btn-secondary" href="'+obj.id+'/edit">modifer</a><a class="btn btn-danger" href="deletFFF/'+obj.id+'">supprimer</a></td></tr>');
                            });
                        }
                        else
                        { $("#allTTT").show();
                            $("#search11").empty();
                            $("#search11").fadeIn('fast');

                        }
                    },
                });
                return false;
            });
        });
    </script>
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
{% endblock %}
