{% extends 'base.html.twig' %}

{% block title %}OffreEmploi index{% endblock %}

{% block body %}
    <h1>OffreEmploi index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre_offre_emploi</th>
                <th>Description_cat_em</th>
                <th>Nbr_offres</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for offre_emploi in offre_emplois %}
            <tr>
                <td>{{ offre_emploi.id }}</td>
                <td>{{ offre_emploi.titreOffreEmploi }}</td>
                <td>{{ offre_emploi.descriptionCatEm }}</td>
                <td>{{ offre_emploi.nbrOffres }}</td>
                <td>
                    <a href="{{ path('offre_emploi_show', {'id': offre_emploi.id}) }}">show</a>
                    <a href="{{ path('offre_emploi_edit', {'id': offre_emploi.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('offre_emploi_new') }}">Create new</a>
{% endblock %}
