{% extends 'base2.html.twig' %}

{% block title %}Questionnaire{% endblock %}

{% block body %}
    <h1>Questionnaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ questionnaire.id }}</td>
            </tr>
            <tr>
                <th>Nom_qst</th>
                <td>{{ questionnaire.nomQst }}</td>
            </tr>
            <tr>
                <th>Nom_cat_qst</th>
                <td>{{ questionnaire.nomCatQst }}</td>
            </tr>
            <tr>
                <th>Description_cat_qst</th>
                <td>{{ questionnaire.descriptionCatQst }}</td>
            </tr>
            <tr>
                <th>Nbr_qst</th>
                <td>{{ questionnaire.nbrQst }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('questionnaire_index') }}">back to list</a>

    <a href="{{ path('questionnaire_edit', {'id': questionnaire.id}) }}">edit</a>

    {{ include('questionnaire/_delete_form.html.twig') }}
{% endblock %}
